<div class="banner-container">
  <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="" class="carousel-img" alt="First slide">
      </div>
      <div class="item">
        <img src="" class="carousel-img" alt="Second slide">
      </div>
      <div class="item">
        <img src="" class="carousel-img" alt="Third slide">
      </div>
    </div>
  </div>
</div>

<script>
  // let bdata = sessionStorage.getItem("adata");
  // console.log(bdata); // 输出为"12"
</script>