<div class="footer-container">
  <div class="site-info clearfix">
    <div class="info-box">
      <p class="info-title">联系我们</p>
      <p class="lh-22">
        <label>招商电话：</label>
        <span class="fs-18">400-803-8180</span>
      </p>
      <p class="lh-22 mg-t-10">
        <label>总部地址：</label>
        <span>陕西省西安市长安区航天大道富力城北区</span>
      </p>
      <p class="mg-t-20">
        <img src="../assets/images/qrcode.png" class="qrcode-img" alt="">
      </p>
    </div>
    <div class="join-box">
      <p class="fs-18 lh-24 mg-b-20 join-title">加盟信息提交</p>
      <div class="join-form">
        <div class="form-group clearfix">
          <label class="form-label pull-left">姓名：</label>
          <div class="form-ctrl">
            <input type="text" class="input-ctrl" id="joinName" value="" placeholder="请输入您的姓名" autocomplete="off" maxlength="10">
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="form-label pull-left">电话：</label>
          <div class="form-ctrl">
            <input type="text" class="input-ctrl" id="joinPhone" value="" placeholder="请输入您的电话" autocomplete="off" maxlength="20">
          </div>
        </div>
        <div class="form-group clearfix" style="height: 96px;">
          <label class="form-label pull-left">其他：</label>
          <div class="form-ctrl">
            <textarea class="textarea-ctrl" id="joinOther" value="" placeholder="请输入您想要咨询的问题（可不填）" autocomplete="off" maxlength="400"></textarea>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="form-label pull-left"></label>
          <div class="form-ctrl">
            <button type="button" class="submit-btn" onclick="submit()" id="submitJoinBtn">提交</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="beian">
    <div class="beian-box">
      <a href="javascript:void(0);" class="beian-link">陕ICP备 123456789号-456</a>
    </div>
  </div>
</div>
<script>
  function submit() {
    var formData = {
      name: $('#joinName').val(),
      phone: $('#joinPhone').val(),
      other: $('#joinOther').val(),
    };

    // $ajax.post({
    //   url: '/submit',
    //   data: formData,
    //   success: function (res) {
    //     console.log('submit ->', res);
    //     $('#joinName').val('');
    //     $('#joinPhone').val('');
    //     $('#joinOther').val('');
    //   }
    // });
  }
</script>
