<script src="../utils/offcanvas/offcanvas.js"></script>
<link rel="stylesheet" href="../utils/offcanvas/offcanvas.css">

<div class="header-container">
  <div class="overlay"></div>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="content">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="offcanvas">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse sidebar-offcanvas">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">home</a>
          </li>
          <li>
            <a href="../product.html">product</a>
          </li>
          <li>
            <a href="../brand.html">brand</a>
          </li>
          <li>
            <a href="../store.html">store</a>
          </li>
          <li>
            <a href="../news.html">news</a>
          </li>
        </ul>
        <div class="nav-join-box">
          join
        </div>
      </div>
    </div>
  </nav>
</div>