.brand-1 {
  padding: 120px 0;
}
.brand-1-title,
.brand-2-title {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 148px;
  height: 52px;
  margin: 25px auto;
}
.brand-1-title {
  background-image: url('../images/brand/brand-1-title.png');
}
.brand-1-box {
  max-width: 1200px;
  margin: 0 auto;
}
.brand-1-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 1000px;
}
.brand-origin-des {
  color: #666;
  font-size: 0;
  text-align: center;
}
.brand-2-title {
  background-image: url('../images/brand/brand-2-title.png');
}
.brand-2-box {
  max-width: 1200px;
  margin: 0 auto;
}
.brand-2 .brand-item {
  margin-bottom: 60px;
  color: #666;
  font-size: 15px;
}
/* .brand-2 .brand-item .img-box,
.brand-2 .brand-item .info-box {
  width: 50%;
} */
.brand-2 .brand-item .img-box {
  width: 51%;
}
.brand-2 .brand-item .info-box {
  width: 49%;
  line-height: 39px;
}
.brand-2 .brand-item .info-box p {
  text-indent: 30px;
}
.brand-2 .img-box .img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 1200px;
}
.brand-2 .item-1 .img-box,
.brand-2 .item-1 .info-box {
  float: left;
}
.brand-2 .item-1 .info-box {
  padding-left: 10px;
}
.brand-2 .item-2 .img-box,
.brand-2 .item-2 .info-box {
  float: right;
}
.brand-2 .item-2 .info-box {
  padding-right: 10px;
}