.brand-1 {
  padding: 120px 0;
}
.brand-1-title {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 148px;
  height: 52px;
  background-image: url('../images/brand/brand-1-title.png');
  margin: 25px auto;
}
.brand-1-box {
  max-width: 1200px;
  margin: 0 auto;
}
.brand-1 .tabs-box {
  height: 60px;
  padding-bottom: 12px;
  position: relative;
}
.brand-1 .tabs-box .items {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #DEDEDE;
}
.brand-1 .tabs-box .item {
  float: left;
  width: 300px;
  font-size: 20px;
  color: #666;
  text-align: center;
  cursor: pointer;
}
.brand-1 .tabs-box .item.active {
  color: #FF5100;
}
.brand-1 .tabs-box .active-bar {
  width: 300px;
  height: 4px;
  background: #FF5100;
  border-radius: 2px;
  position: absolute;
  bottom: 12px;
  left: 0;
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
  transform: translateX(0);
}
.brand-1 .picture-view {
  height: 500px;
}


.brand-2 {
  padding: 0 0 90px;
}
.brand-2-box {
  max-width: 1200px;
  margin: 0 auto;
}
.brand-2-title {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 222px;
  height: 52px;
  background-image: url('../images/brand/brand-2-title.png');
  margin: 25px auto;
}
.brand-2 .item-box {
  position: relative;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow .3s;
}
.brand-2 .item-box:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.26);
}
.brand-2 .item-box .img-box {
  height: 0;
  padding-top: 100%;
  position: relative;
}
.brand-2 .item-box .img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.brand-2 .item-box .info-box {
  padding: 20px 15px 20px;
  height: 108px;
  color: #666;
  overflow: hidden;
}
.brand-2 .item-box .name {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.brand-2 .item-box .addr {
  font-size: 16px;
  line-height: 22px;
}
.brand-2 .load-more-btn {
  outline: none;
  border: none;
  width: 320px;
  height: 48px;
  background: #F8F8F8;
  border-radius: 24px;
  display: block;
  margin: 50px auto 0;
  color: #FF5100;
  font-size: 16px;
  transition: background .3s;
}
.brand-2 .load-more-btn:hover {
  background: #efefef;
}

@media screen and (max-width: 1200px) {
  .brand-1-box, .brand-2-box {
    padding: 0 20px;
  }
}