@charset "utf-8";

@import "./home.css";
@import "./product.css";
@import "./header.css";
@import "./banner.css";
@import "./footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #333;
  font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #fff;
}

input, textarea {
  font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul, ol, li { 
  list-style: none; 
}

button { 
  outline: none; 
}

img { 
  border: none; 
  max-width: 100%;
  max-height: 100%;
}

:focus { 
  outline: 0; 
}

a {
  text-decoration: none;
  color: #409EFF;
  outline: none;
}

table,tr,td { 
  border-collapse: collapse; 
  border-spacing: 0; 
  margin:0;
  padding:0;
}

p {
  margin: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block; 
  clear: both;  
  visibility: hidden; 
  height: 0;
  
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.mce-content-body  {
  font-size: 14px;
}

button {
  cursor: pointer;
  outline: 0;
}

.normal-btn {
  padding: 0;
  width: 120px;
  height: 32px;
  line-height: 32px;
}

.overflow-text {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-text-2 {
  max-width: 100%;
  word-break: break-all;
  display: -webkit-box;/**对象作为伸缩盒子模型展示**/
  -webkit-box-orient: vertical;/**设置或检索伸缩盒子对象的子元素的排列方式**/
  -webkit-line-clamp: 2;/**显示的行数**/
  overflow: hidden;/**隐藏超出的内容**/
}

/* chrome 滚动条样式 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* 滚动条宽度 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: none;
    box-shadow: none;
    border: none;
  }

  /* 滚动条背景 */
  ::-webkit-scrollbar-track {
    /* background-color: rgba(0,0,0,.1); 
    border-left: 1px solid #ccc; */
  }

  /* 滚动条颜色 */
  ::-webkit-scrollbar-thumb {
    /* height: 8px !important; */
    /* width: 8px; */
    border-radius: 4px;
    background: rgba(0,0,0,.15)
  }

  /* 滚动条颜色鼠标放上去颜色 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.2);
  }

  /* 滚动条颜色点击颜色 */
  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,.3);
  }
}

/* Firefox */
/* 滚动条样式  Firefox 64+
* https://developer.mozilla.org/zh-CN/docs/Web/CSS/scrollbar-color
*/
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,.2) rgba(0,0,0,0); /*bar, bg */
  }
}

/* IE 9+ 浏览器 */

/* @media all and (min-width:0) { */
  * {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #fff;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #cccccc;
    /*滚动条整体颜色*/
    /* scrollbar-highlight-color: rgba(0,0,0,0); */
    /*滚动条阴影*/
    scrollbar-shadow-color: #cccccc;
    /*滚动条轨道颜色*/
    /* scrollbar-track-color: rgba(0,0,0,0); */
    /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
    /* scrollbar-3dlight-color:#0099dd; */
    /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
    /* scrollbar-darkshadow-color: #0099dd; */
    /*滚动条基准颜色*/
    /* scrollbar-base-color: #0099dd; */
  }
/* } */


input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999 !important;
}  
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999 !important;
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
  color: #999 !important;
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999 !important;
}

.w-240 {width: 240px;}

.v-mid {
  vertical-align: middle;
}
.v-top {vertical-align: top;}

.blue-vertical {
  background-color: #2589FF;
}

.c-333 {
  color: #333;
}

.c-666 {
  color: #666;
}
.c-60 {
  color: #606266;;
}

.c-999 {
  color: #999;
}
.c-blue {color: #2589ff;}
.c-red {color: #FF5050;}
.c-yellow {color: #FFDD52;}
.c-white {color: #fff;}

.fs-12 {font-size: 12px;}
.fs-13 {font-size: 13px;}
.fs-14 {font-size: 14px;}
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}
.fs-18 {font-size: 18px;}
.fs-30 {font-size: 30px;}

.lh-20 {line-height: 20px;}
.lh-22 {line-height: 22px;}
.lh-24 {line-height: 24px;}
.lh-32 {line-height: 32px;}

.mg-t-5 {margin-top: 5px;}
.mg-t-10 {margin-top: 10px;}
.mg-t-15 {margin-top: 15px;}
.mg-t-16 {margin-top: 16px;}
.mg-t-20 {margin-top: 20px;}
.mg-t-30 {margin-top: 30px;}
.mg-t-40 {margin-top: 40px;}

.mg-b-5 {margin-bottom: 5px;}
.mg-b-10 {margin-bottom: 10px;}
.mg-b-15 {margin-bottom: 15px;}
.mg-b-16 {margin-bottom: 16px;}
.mg-b-20 {margin-bottom: 20px;}

.mg-l-5 {margin-left: 5px;}
.mg-l-10 {margin-left: 10px;}
.mg-l-15 {margin-left: 15px;}
.mg-l-16 {margin-left: 16px;}
.mg-l-20 {margin-left: 20px;}
.mg-l-30 {margin-left: 30px;}
.mg-l-40 {margin-left: 40px;}
.mg-l-50 {margin-left: 50px;}
.mg-l-60 {margin-left: 60px;}

.mg-r-5 {margin-right: 5px;}
.mg-r-10 {margin-right: 10px;}
.mg-r-15 {margin-right: 15px;}
.mg-r-16 {margin-right: 16px;}
.mg-r-20 {margin-right: 20px;}
.mg-r-30 {margin-right: 30px;}
.mg-r-40 {margin-right: 40px;}

.pd-0 {padding: 0;}
.pd-5 {padding: 5px;}
.pd-10 {padding: 10px;}
.pd-15 {padding: 15px;}
.pd-16 {padding: 16px;}
.pd-20 {padding: 20px;}

.pd-t-10 {padding-top: 10px;}
.pd-t-15 {padding-top: 15px;}
.pd-t-20 {padding-top: 20px;}
.pd-t-30 {padding-top: 30px;}

.pd-l-10 {padding-left: 10px;}
.pd-l-20 {padding-left: 20px;}
.pd-l-30 {padding-left: 30px;}

.pd-b-10 {padding-bottom: 10px;}
.pd-b-12 {padding-bottom: 12px;}

.pd-r-16 {padding-right: 16px;}
.pd-r-30 {padding-right: 30px;}
.pd-r-40 {padding-right: 40px;}
.pd-r-45 {padding-right: 45px;}
.pd-r-50 {padding-right: 50px;}
.pd-r-55 {padding-right: 55px;}
.pd-r-60 {padding-right: 60px;}


.f-blod { font-weight: bold;}

.cur-pointer {
  cursor: pointer;
}

.flex-box {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.align-items-cennter {
  align-items: center;
}

.pos-r {
  position: relative;
}
.max-w-600 { max-width: 600px; }

.inline-block {display: inline-block;}


.app-container {
  display: none;
  padding-top: 64px;
}