.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 89;
  width: 100%;
  height: 64px;
}
.header-container .navbar {
  margin-bottom: 0;
}
.header-container .navbar-brand {
  padding: 0;
  height: 64px;
}
.header-container .navbar-nav a {
  height: 64px;
  line-height: 34px;
}
.header-container .navbar-toggle {
  height: 48px;
}
.header-logo-1 {
  display: inline-block;
  height: 64px;
}
.nav-join-box {
  padding-top: 13px;
  color: #FF5100;
}
.nav-join-box .logo-box {
  padding-right: 15px;
  height: 42px;
  line-height: 42px;
}
.nav-join-box .info-box {
  width: 185px;
  padding-left: 15px;
  position: relative;
}
.nav-join-box .info-box::before {
  content: '';
  display: block;
  width: 1px;
  height: 28px;
  background: #F8F8F8;
  position: absolute;
  top: 9px;
  left: 0;
}
.sidebar-offcanvas .nav-join-box .info-box::before {
  display: none;
}
.nav-join-box .phone {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}
.nav-join-box .join-text {
  font-size: 12px;
  line-height: 17px;
}

.navbar-inverse {
  background: #fff;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
  background: #fff;
  color: #FF5100;
}
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
  background: #fff;
  color: #FF5100;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background: #FF5100;
}

@media screen and (max-width: 1200px) {
  .nav-join-box .info-box {
    width: 130px;
  }
  .header-container .navbar .content {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .header-container .navbar .content > .navbar-collapse {
    -prefix-box-flex: 1; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -moz-box-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
   }
  .header-container .navbar .content .navbar-header {
    width: auto;
  }
}

@media screen and (max-width: 992px) {
  .header-container .navbar .content ul {
    padding: 0;
    width: auto;
  }
  .nav-join-box .logo-box {
    padding-right: 5px;
  }
  .nav-join-box .info-box {
    padding-left: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header-container .navbar-nav a {
    line-height: 44px;
  }
}

@media screen and (max-width: 760px) {
  .nav-join-box {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 760px) {
  .nav-join-box {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 458px) {
  .home-2-box .items {
    padding: 0 5px;
  }
}