.product-1 {
  padding: 120px 0 60px;
}
.product-1-title {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 332px;
  height: 52px;
  background-image: url('../images/product/product-1-title.png');
  margin: 25px auto;
}
.product-1 .row {
  margin: 0 -8px -8px;
}
.product-1 .item {
  padding: 8px;
}
.product-1-box {
  max-width: 1200px;
  margin: 0 auto;
}
.product-1 .item-box {
  height: 350px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 8px;
  padding: 40px;
}
.product-1 .icon {
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.product-1 .icon-1 {
  background-image: url('../images/product/product-1-icon-1.png');
}
.product-1 .icon-2 {
  background-image: url('../images/product/product-1-icon-2.png');
}
.product-1 .icon-add {
  background-image: url('../images/product/product-1-icon-add.png');
}
.product-1 .item-title {
  line-height: 30px;
  height: 30px;
  font-size: 20px;
  color: #FF5100;
  text-align: center;
}
.product-1 .describe {
  color: #666;
  font-size: 16px;
  text-align: center;
}
.product-1 .describe p {
  line-height: 30px;
  height: 30px;
}


.product-2 {
  padding: 10px 0 120px;
}
.product-2-box {
  max-width: 1200px;
  margin: 0 auto;
}
.product-2 .tabs-box {
  width: 920px;
  height: 56px;
  background: #F8F8F8;
  border-radius: 28px;
  margin: 0 auto;
  position: relative;
  font-size: 20px;
  color: #666;
  user-select: none;
}
.product-2 .tabs-box .items {
  position: relative;
  z-index: 5;
}
.product-2 .tabs-box .item {
  height: 100%;
  width: 25%;
  text-align: center;
  line-height: 56px;
  border-radius: 28px;
  float: left;
  cursor: pointer;
}
.product-2 .tabs-box .item.active {
  color: #fff;
}
.product-2 .tabs-box .active-bar {
  display: block;
  background: #FF5100;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 25%;
  height: 100%;
  line-height: 56px;
  border-radius: 28px;
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
  transform: translateX(0);
}
.product-2 .row-1,
.product-2 .row-2,
.product-2 .row-3,
.product-2 .row-4 {
  margin-top: 50px;
}
.product-2 .row-1 .item,
.product-2 .row-2 .item,
.product-2 .row-3 .item,
.product-2 .row-4 .item {
  float: left;
}
.product-2 .row-1 .item {
  width: 50%;
}
.product-2 .row-1 .item-box,
.product-2 .row-2 .item-box,
.product-2 .row-3 .item-box,
.product-2 .row-4 .item-box {
  position: relative;
  height: 0;
}
.product-2 .row-1 .item-box {
  padding-top: 66.66%;
}
.product-2 .row-1 .img, 
.product-2 .row-2 .img, 
.product-2 .row-3 .img, 
.product-2 .row-4 .img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-2 .row-2 .item {
  width: 20%;
}
.product-2 .row-2 .item-box {
  padding-top: 166.66%;
}
.product-2 .row-3 .item,
.product-2 .row-4 .item {
  width: 25%;
}
.product-2 .row-3 .item-box,
.product-2 .row-4 .item-box {
  padding-top: 133.33%;
}

@media screen and (max-width: 1200px) {
  .product-1-box, .product-2-box {
    padding: 0 20px;
  }
  .product-2 .tabs-box {
    width: 100%;
  }
}

@media screen and (max-width: 970px) {
  .product-2 {
    padding: 10px 0 30px;
  }
  .product-2 .row-1 .item {
    width: 100%;
    margin-bottom: 10px;
  }
  .product-2 .row-2 .item {
    width: 50%;
    margin-bottom: 10px;
  }
  .product-2 .row-3 .item, 
  .product-2 .row-4 .item {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .product-1 .icon {
    margin: 0 auto;
  }
  .product-1 .item-box {
    padding: 10px 10px 20px;
    height: auto;
  }
  .product-2 .tabs-box {
    font-size: 16px;
    height: 42px;
  }
  .product-2 .tabs-box .item {
    line-height: 42px;
    border-radius: 21px;
  }
}