.store-1 {
  padding: 120px 0;
}
.store-1-title {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 148px;
  height: 52px;
  background-image: url('../images/store/store-1-title.png');
  margin: 25px auto;
}
.store-1-box {
  max-width: 1200px;
  margin: 0 auto;
}
.store-1 .tabs-box {
  height: 60px;
  padding-bottom: 15px;
  position: relative;
}
.store-1 .tabs-box .items {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #DEDEDE;
}
.store-1 .tabs-box .item {
  float: left;
  width: 300px;
  font-size: 20px;
  color: #666;
  text-align: center;
  cursor: pointer;
}
.store-1 .tabs-box .item.active {
  color: #FF5100;
}
.store-1 .tabs-box .active-bar {
  width: 300px;
  height: 4px;
  background: #FF5100;
  border-radius: 2px;
  position: absolute;
  bottom: 12px;
  left: 0;
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
  transform: translateX(0);
}
.store-1 .tabs-box .active-bar::before {
  content: '';
  display: block;
  width: 77px;
  height: 15.5px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../images/store/store-tabs-active.png');
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.store-1 .picture-view {
  margin-top: 50px;
}
.store-1 .carousel-box {
  width: 500px;
  height: 500px;
  float: left;
}
.store-1 .carousel-box .carousel,
.store-1 .carousel-box .carousel-inner,
.store-1 .carousel-box .carousel-inner>.item,
.store-1 .carousel-box .carousel-inner>.item>img {
  height: 100%;
}

.store-1 .view-box {
  width: 700px;
  float: left;
}
.store-1 .view-box .img-box {
  float: left;
  position: relative;
}
.store-1 .img-box:first-child,
.store-1 .img-box:nth-child(2),
.store-1 .img-box:nth-child(3) {
  width: 33.33%;
  /* height: 234px; */
  padding-top: 234px;
}
.store-1 .img-box:nth-child(4),
.store-1 .img-box:nth-child(5) {
  width: 50%;
  /* height: 266px; */
  padding-top: 266px;
}
.store-1 .view-box .img-box .img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1200px) {
  .store-1 .carousel-box {
    width: 100%;
  }
  .store-1 .view-box {
    width: 100%;
  }
}
@media screen and (max-width: 970px) {
  .store-1 .carousel-box {
    height: 400px;
  }
  
}
@media screen and (max-width: 768px) {
  .store-1 .carousel-box {
    height: 350px;
  }
  .store-1 .view-box .img-box {
    width: 100%;
    padding-top: 100%;
  }
}


.store-2 {
  padding: 0 0 90px;
}
.store-2-box {
  max-width: 1200px;
  margin: 0 auto;
}
.store-2-title {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 222px;
  height: 52px;
  background-image: url('../images/store/store-2-title.png');
  margin: 25px auto;
}
.store-2 .row {
  margin: -12px -5px;
}
.store-2 .item {
  padding: 12px 5px;
}
.store-2 .item-box {
  position: relative;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow .3s;
}
.store-2 .item-box:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.26);
}
.store-2 .item-box .img-box {
  height: 0;
  padding-top: 100%;
  position: relative;
}
.store-2 .item-box .img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.store-2 .item-box .info-box {
  padding: 20px 15px 20px;
  height: 108px;
  color: #666;
  overflow: hidden;
}
.store-2 .item-box .name {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.store-2 .item-box .addr {
  font-size: 16px;
  line-height: 22px;
}
.store-2 .load-more-btn {
  outline: none;
  border: none;
  width: 320px;
  height: 48px;
  background: #F8F8F8;
  border-radius: 24px;
  display: block;
  margin: 50px auto 0;
  color: #FF5100;
  font-size: 16px;
  transition: background .3s;
}
.store-2 .load-more-btn:hover {
  background: #efefef;
}
.store-2 .loading-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../images/store/loader.png');
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  0%{
    -webkit-transform:rotateZ(0);transform:rotateZ(0)
  }
  100%{
    -webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)
  }
}

@media screen and (max-width: 1200px) {
  .store-1-box, .store-2-box {
    padding: 0 20px;
  }
  .store-1 .tabs-box .item {
    width: 200px;
  }
  .store-1 .tabs-box .active-bar {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .store-1 .tabs-box .item {
    width: 100px;
    font-size: 16px;
  }
  .store-1 .tabs-box .active-bar {
    width: 100px;
  }
}